<?xml version="1.0"?>

<model>
  <name>Table</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.org</email>
  </author>

  <author>
    <name>Nicola Piga</name>
    <email>nicolapiga@gmail.com</email>
  </author>
  
  <description>
    A wooden table provided with an embedded ruby version
    with parametrized height of the legs and of the surface
    and friction coefficients of the surface.
  </description>
</model>
