<?xml version="1.0"?>

<model>
  <name>Visual tactile localization simulation scenario</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nicola Piga</name>
    <email>nicolapiga@gmail.com</email>
  </author>

  <description>
    iCub with hands in front of a table with objects on top of the table.
    Objects are equipped with GazeboYarpModelPosePublisher.
  </description>
</model>
