<?xml version="1.0"?>

<model>
  <name>Shelf</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nicola Piga</name>
    <email>nicolapiga@gmail.com</email>
  </author>
  
  <description>
    Shelf where to place object with variable lengths.
  </description>
</model>
