<?xml version="1.0"?>

<model>
  <name>YCB Mustard</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nicola Piga</name>
    <email>nicolapiga@gmail.com</email>
  </author>

  <description>
    Mustard from YCB nontextured with collision enabled.
  </description>
</model>
