<?xml version="1.0"?>

<model>
  <name>Observer Origin</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nicola Piga</name>
    <email>nicolapiga@gmail.com</email>
  </author>

  <description>
    A simple sphere to represent the origin of the observer.
  </description>
</model>
